version: '3.8'

services:
  jetson-os-builder:
    container_name: jetson-os-builder
    network_mode: "host"
    build:
      network: host
      context: .
      dockerfile: Dockerfile
      args:
        - BSP_URL=https://developer.nvidia.com/downloads/embedded/L4T/r38_Release_v2.1/release/Jetson_Linux_R38.2.1_aarch64.tbz2
        - ROOTFS_URL=https://developer.nvidia.com/downloads/embedded/L4T/r38_Release_v2.1/release/Tegra_Linux_Sample-Root-Filesystem_R38.2.1_aarch64.tbz2
    privileged: true
    volumes:
      - ./scripts:/workspace/scripts:ro
      - /dev:/dev
      - /run/udev:/run/udev:ro
    devices:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - DEFAULT_USERNAME=Arche
      - DEFAULT_PASSWORD=Arche
      - BOARD=jetson-orin-nano-devkit
      - FLASH_CMD=sudo ./flash.sh jetson-orin-nano-devkit-super-nvme internal
    stdin_open: true
    tty: true

  
